.intro {
	box-sizing: border-box;
	padding: 92px 0px 0px 0px;
	max-width: calc(100% - 296px);
	margin: 0 auto;
}
@media screen and (max-width: 1024px) {
	.intro {
		max-width: calc(100% - 96px);
		margin: 0 auto;
	}
}
@media screen and (max-width: 768px) {
	.intro {
		padding: 88px 0px 0px 0px;
		max-width: calc(100% - 48px);
		margin: 0 auto;
	}
}
@media screen and (max-width: 425px) {
	.intro {
		padding: 64px 0px 0px 0px;
		max-width: calc(100% - 32px);
	}
}
